//Grey scale colours
$black: #000000;
$grey10: lighten(black, 10%);
$grey20: lighten(black, 20%);
$grey30: lighten(black, 30%);
$grey40: lighten(black, 40%);
$grey50: lighten(black, 50%);
$grey60: lighten(black, 60%);
$grey70: lighten(black, 70%);
$grey80: lighten(black, 80%);
$grey90: lighten(black, 90%);
$grey95: lighten(black, 95%);
$white: #fff;

$theme-primary: #F18500;
$theme-primary-light: #2f8990;
$theme-primary-dark: #397184;
$theme-secondary: #2f8990;
$theme-secondary-light: #94efa6;
$theme-secondary-dark: #2f8b4a;
$theme-tertiary: #777675;
$theme-tertiary-light: #B0BDD0;
$theme-tertiary-dark: #B0BDD0;
$theme-light: $grey90;
$theme-dark: $grey20;
$theme-success:green;
$theme-warning:orange;
$theme-error:red;
$theme-danger:red;
$theme-info: lightblue;
$theme-disabled : $grey80; 

// Bootstrap overrides to map this library theme
$theme-colors: ("primary": #F18500,
  "secondary": #2f8990,
  "success": #777675,
  "info": lightblue,
  "warning": orange,
  "danger": red,
  "light": $grey90,
  "dark": $grey20);