app-root
{
    overflow: hidden;
    max-height: 100%;
}
.int-app-framework
{
    overflow: hidden;
    max-height: 100%;

    &__application
    { 
        overflow: hidden;
        max-height: 100%;
    }
}