
.bg-primary
{
    background-color: $theme-primary !important;
}

.bg-secondary
{
    background-color: $theme-secondary !important;
}

.bg-tertiary
{
    background-color: $theme-tertiary !important;
}

.bg-success
{
    background-color: $theme-success !important;
}

.bg-info
{
    background-color: $theme-info !important;
}

.bg-warning
{
    background-color: $theme-warning !important;
}

.bg-danger
{
    background-color: $theme-danger !important;
}
